@import "tailwindcss";

:root {
  font-family: Arial, Helvetica, sans-serif;
  color: #4c5563;
  background: #f7f8fa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

button,
input,
select {
  font-family: inherit;
}
